---
Language: Cpp
Standard: c++17

AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: Inline

AccessModifierOffset: "-4"
AlignEscapedNewlines: Left
AllowAllConstructorInitializersOnNextLine: "true"
BinPackArguments: false
BinPackParameters: false
ColumnWidth: 0
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: "false"
FixNamespaceComments: true
IndentCaseLabels: true
IndentPPDirectives: AfterHash
IndentWidth: 2
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeCtorInitializerColon: false
SpaceInEmptyParentheses: "false"
SpacesInParentheses: true
TabWidth: 2
UseTab: Never
AlwaysBreakTemplateDeclarations: No
SpaceAfterTemplateKeyword: true
SortUsingDeclarations: true
ReflowComments: true