---
Language: Cpp
Standard: c++17
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2

#BinPackArguments: false
#BinPackParameters: false
AlwaysBreakTemplateDeclarations: No

#AllowShortBlocksOnASingleLine: Always
#AllowShortEnumsOnASingleLine: true
#AllowShortFunctionsOnASingleLine: All
#AllowShortIfStatementsOnASingleLine: WithoutElse
#AllowShortLambdasOnASingleLine: Inline

#AccessModifierOffset: "-4"
#AlignEscapedNewlines: Left
#AllowAllConstructorInitializersOnNextLine: "true"

#BreakConstructorInitializers: AfterColon
#ConstructorInitializerAllOnOneLineOrOnePerLine: true
#DerivePointerAlignment: "false"
#FixNamespaceComments: true
#IndentCaseLabels: true
#IndentPPDirectives: AfterHash
#NamespaceIndentation: All
#PointerAlignment: Left
#SpaceBeforeCtorInitializerColon: false
#SpaceInEmptyParentheses: "false"
#SpacesInParentheses: true
#TabWidth: 2
#UseTab: Never

#SpaceAfterTemplateKeyword: true
#SortUsingDeclarations: true
#ReflowComments: true